.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 50px;
  color: white;
  margin-top: 80px;
  margin-bottom: 8px;
}

.input {
  width: 160px;
  height: 32px;
  padding: 8px;
  margin: 8px;
}

.doubleInput {
  width: 336px;
  height: 32px;
  padding: 8px;
  margin: 8px;
}

.submitButton {
  width: 160px;
  height: 32px;
  padding: 8px;
  margin: 8px;
}

.toggleButton {
  width: 280px;
  height: 32px;
  padding: 8px;
  margin: 8px;
  border: none;
  text-decoration: underline;
  background-color: transparent;
}